body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

p {
    max-width: 100px;
    max-height: 100px;
}

.category {
  margin: 60px 0; 
}
.category li a {
  color: #666;
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #f0f0f0;
  text-decoration: none; 
}
.category li a:hover {
  color: #00bbff; 
}
.category li a {
  display: block;
  line-height: 30px;
  color: #666;
  text-decoration: none; 
}
.category li a:hover {
  color: #00bbff; 
}
.category li a::before {
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle; 
}
.category h3 {
  font-size: 18px;
  text-transform: uppercase; 
}
.category ul li a::before {
  content: "\f115"; 
}
form {
  display: inline-block;
  text-align: center;
}