doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
		
        title Profile
        link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        style
            body { padding-top:80px; word-wrap:break-word; }
    body
    div(class="container")
        div(class="page-header text-center")
            h1 <span class="fa fa-anchor"></span> Profile Page
            a(href = "/game/", class="btn btn-primary") <span class="fa fa-gamepad" aria-hidden="true"></span> Play Game
            |
            |
            a(href = "/logout/", class="btn btn-default") <span class="fa fa-sign-out" aria-hidden="true"></span> Log out
            |
            |
        div(class="row")
        
            <!-- LOCAL INFORMATION -->
            div(class="col-sm-6")
                div(class="well")
                    h3
                        span(class="fa fa-user")
                        |  Local
                    p
                        strong name: 
                        | #{user.local.username}
    
            <!-- GOOGLE INFORMATION -->
            div(class="col-sm-6")
                div(class="well")
                    h3(class="text-danger")
                        span(class="fa fa-google-plus")
                        |  Google
                    p
                        strong email: 
                        | #{user.google.email}
                        br
                        strong name: 
                        | #{user.google.name}