doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible". content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		title Game Stats
		script(src="/socket.io/socket.io.js")
		script.
			let socket = io.connect('/', {query: "username=stats"})
			socket.on('syncStats', data => {
				console.log(data)
			})
			
		link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
		link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
		style
			body { padding-top:80px; word-wrap:break-word; }
	body
		<table>
		<tbody>
			<tr>
				<td style="width: 149px"> &nbsp;head </td>
				<td style="width: 149px"> &nbsp;head2 </td>
			</tr>
				<td style="width: 149px"> row1 </td>
				<td style="width: 149px"> row2 </rd>
		<tbody>
		</table>