doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible". content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		title Authentication
		
		link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
		link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')

	body
	div(class="container")
		div(class="col-sm-6 col-sm-offset-3")
			h1 
				span(class="fa fa-sign-in")
				|  Sign Up
			form(action="/signup/", method="post")
				div(class="form-group")
					label Email
					input(type="text", class="form-control", name="email")
				div(class="form-group")
					label Password
					input(type="password", class="form-control", name="password")
				button(type="submit", class="btn btn-warning btn-lg") Login
			hr
			p Already have an account? 
				a(href="/login/") Login 
			p Or go 
				a(href="/") home.