doctype html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible". content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")

	title Tank Battle
	link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
	link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
	link(href='css/tanks.css', rel='stylesheet')
	link(href='img/icon.png', rel='shortcut icon')
	style
		body { padding-top:80px; word-wrap:break-word; }
body
div(id="arena", class="arena")
div(id="ballcon" class="ballcon")
	div(class="bullet-select col-md-2")
		ul(class="bullet-selection")
			li(class="selected" data-bullet="1") Simple
		ul(class="bullet-selection")
			li(data-bullet="2") Premium

div(id="prompt", class="name-prompt")
	div(class="input-group")
		input(id="tank-name", type="text", class="form-control", placeholder="Name your tank", autocomplete="off")
		span(class="input-group-btn")
			input(id="join", class="btn btn-primary", type="submit", value="Join the battle")
			div(id="username" class="username")
	
	div(class="tank-select col-md-12")
		label Choose your tank:
		ul(class="tank-selection")
			li(class="selected", data-tank="1")
				img(src="img/preview-tank-1.png")
			li(data-tank="1")
				img(src="img/preview-tank-2.png")
			li(data-tank="1")
				img(src="img/preview-tank-3.png")

script(src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src="/socket.io/socket.io.js")
script(src="js/arena.js")
script(src="js/client.js")