doctype html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible". content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")

	title Tank Battle
	link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
	link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
	link(href='css/tanks.css', rel='stylesheet')
	link(href='img/icon.png', rel='shortcut icon')

body

div(id="arena", class="arena")
div(id="username", class="username", hidden="true") #{user}
div(id="prompt", class="name-prompt")
	div(class="input-group")
		input(id="tank-name", type="text", class="form-control", placeholder="Name your tank", autocomplete="off")
		span(class="input-group-btn")
			input(id="join", class="btn btn-primary", type="submit", value="Join the battle")
			div(id="username" class="username")
	
	div(class="tank-select col-md-12")
		label Choose your tank:
		ul(class="tank-selection")
			li(class="selected", data-tank="1")
				img(src="img/preview-tank-1.png")
			li(data-tank="1")
				img(src="img/preview-tank-2.png")
			li(data-tank="1")
				img(src="img/preview-tank-3.png")

	div(class='control-description col-md-12')
		label Control Description: 
		div(class="control-description-header")
			ul
				strong W
				|  - Walk Up
			ul
				strong S
				|  - Walk Down
			ul
				strong A
				|  - Walk Left
			ul
				strong D 
				|  - Walk Right

		ul(style="text-align:center; display: inline-block; margin: auto 45px;")
			strong Space
			|  - change bullet type

script(src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src="/socket.io/socket.io.js")
script(src="js/arena.js")
script(src="js/client.js")